*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    overflow-wrap: break-word;
    background-color: black;
    color: white;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

:root {
    --myPurple: #3C0980;
    --errorColor: #FF5C5C;
}

body {
    display: flex;
    justify-content: center;
}

form * {
    background-color: var(--myPurple);
}

#submissionForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: var(--myPurple);
    width: 44rem;
    padding: 2rem 3rem;
    margin: 8rem 0;
    min-height: 42rem;
}


#submissionForm>h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.3rem;
}

/*This is an extra div for making the error appear under the rest of the field*/
/*This .horiz is to keep everything else horizontal,
 * (the label, textbox and icon), so I can make it and the 
 * span.error vertically adjacent instead
 * so now I have the span.error under everything else*/

.horiz {
    display: flex;
    align-items: center;
}

/*So in the field there are two children: .horiz and span.error
 * and it's direction is vertical/column so that the span is 
 * under the horiz(the lable, textbox and icon)*/
.field {
    display: flex;
    flex-direction: column;
}

/*Styles the icons*/
.fieldIcon {
    height: 1.2rem;
    margin: 0 0 0 0.5rem;
}

/*Styles the textboxes*/
.field .textBox {
    color: black;
    margin: 0 0 0 0.9rem;
    flex: 1;
    padding: 0.2rem;
    border-radius: 0.4rem;
    background-color: darkgray;
}

.group {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

span.error {
    color: var(--errorColor);
    display: block;
    font-size: 0.7rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

input#submitBtn {
    width: 60%;
    padding: 1rem 0;
    margin: 1.5rem 0 0 0;
    border-radius: 970px;
    border: 3px solid white;

    &:hover {
        background-color: darkgray;
        color: var(--myPurple);
        cursor: pointer;
    }
}
